<footer>
    <div class="social-buttons">
        <ul>
            <!--
            <li class="social-button">
                <a target="_blank" href="https://www.instagram.com/dorothybpensky">
                    <img src="/img/instagram.png" alt="Follow on Instagram" size="40"/>
                </a>
            </li>
            <li class="social-button">
                <a target="_blank" href="https://www.facebook.com/dorothy.pensky">
                    <img src="/img/facebook.png" alt="Follow on Facebook" size="40" />
                </a>
            </li>
            -->
            {# <li class="social-button">
                <a target="_blank" href="https://dorothypensky.substack.com">
                    <img src="/img/substack.png" alt="Dorothy's Substack" />
                </a>
            </li>             #}
            <li class="social-button">
                <a target="_blank" href="https://bsky.app/profile/dorothypensky.bsky.social">
                    <img src="/img/bluesky-seeklogo.png" alt="Follow on Bluesky" />
                </a>
            </li>            
        </ul>
    </div>
    <div class="footer-lastrow">
        <div class="copyright">
            {% copy %}
        </div>
        <a class="credits-link" href="/credits">
            Credits
        </a>
    </div>
</footer>
