<header>
    <div id="topbar">
        <nav id="toplinks">
            <h2 class="visually-hidden">Top level navigation menu</h2>
            {%- for entry in collections.all | eleventyNavigation %}
                <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
            {%- endfor %}
        </nav>
    </div>
    <div id="header-image">
        <div id="dorothy-name" onclick="location.href='/'">
            <p>Dorothy Pensky</p>
            <p style="font-size: 60%">YA Author</p>
        </div>
        <div id="dorothy-headshot-container">
            <img id="dorothy-headshot" src="/img/dorothy-nobg.png" />
        </div>
    </div>
    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
</header>
