---
permalink: site.webmanifest
eleventyExcludeFromCollections: true
---
{
    "dir": "ltr",
    "name": "{{ meta.site | safe }}",
    "short_name": "{{ meta.shortName | safe }}",
    "description": "{{ meta.description | safe }}",
    "lang": "{{ meta.lang }}",
    "id": "/",
    "start_url": "/",
    "display": "standalone",
    "display_override": ["fullscreen", "minimal-ui"],
    "orientation": "portrait",
    "theme_color": "{{ meta.themeColor }}",
    "background_color": "{{ meta.backgroundColor }}",
    "prefer_related_applications": false,
    "scope": "/",
    "icons": [
    ],
    "screenshots": [
    ]
}
